@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
  }

  .dark,
  :root[class~='dark'] {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

div.chord-sheet > div.paragraph {
  @apply pb-10;
}

div.chord-sheet > div.paragraph > .row {
  @apply block;
}

div.chord-sheet > div.paragraph > .row > .column {
  @apply inline-block items-start h-auto;
}

div.chord-sheet > div.paragraph > .row > .column > .chord {
  @apply h-6 font-mono font-bold pe-2 text-red-800 dark:text-red-600 relative;
}

div.chord-sheet > div.paragraph > .row > .column > .lyrics {
  @apply inline-block font-mono text-muted-foreground relative whitespace-pre-wrap;
}

div.chord-sheet > div.paragraph > .row > .column:has(> div.chord:empty ~ div.lyrics:empty) {
  @apply hidden;
}


div.chord-sheet > div.paragraph > .row > h3.label,
div.chord-sheet > div.paragraph > .row > .comment  {
  @apply text-sm mb-2 first:mt-0 mt-4  inline-flex items-center rounded-md border px-2.5 py-0.5 font-medium transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-blue-700 dark:bg-blue-900 text-primary-foreground shadow hover:bg-blue-600/80;
}


div.cm-editor {
  @apply flex min-h-[60px] w-full rounded-md border border-input bg-transparent px-3 py-2 shadow-sm placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:cursor-not-allowed disabled:opacity-50;
}